#canvas
{
    border: 1px solid #aaaaaa;
    position:absolute;
    left:8px;
    top:8px;
    cursor:default;
    border-radius:3px;
}

#snapshots
{
    border:1px solid #aaaaaa;
    position:absolute;
    top:8px;
    bottom:8px;
    right:8px;
    left:950px;
    border-radius:3px;
    overflow-y:scroll;
    overflow-x:hidden;
}

#clear
{
    position:absolute;
    left:816px;
    top:8px;
}

#save
{
    position:absolute;
    left:816px;
    top:48px;
}

#color
{
    position:absolute;
    left:816px;
    top:88px;
}

#size
{
    position:absolute;
    left:816px;
    top:128px;
    padding-right:0px;
}

.btn, input
{
    border:1px solid #aaaaaa;
    background-color:white;
    border-radius:3px;
    width:128px;
    height:32px;
    padding:0px 8px;
    box-sizing:border-box;
}

.btn:hover
{
    border-color:#3333FF;
    color:#3333FF;
}

.btn:active
{
    background:#eeeeee;
    border-color:#1111FF;
    color:#1111FF;
}