body, html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background:#060606;
}

#landing {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#EEEEEE;
    z-index:1000;
    padding:0;
    margin:0;
}

#landingHeader {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:48px;
    font-size:32px;
    font-family:Helvetica, sans-serif;
    color:#111;
}

#landingStrip {
    position:absolute;
    left:50%;
    top:20%;
    transform:translate(-50%);
}

#server {
    border:0;
    border-bottom:1px solid #AAA;
    background-color:transparent;
    font-size:32px;
    color:#222;
    width:480px;
}

#connect {
    font-size:32px;
    border:0;
    border-radius:5px;
    background-color:transparent;
    padding:4px;
    margin-left:4px;
    color:#222;
}

#connect:hover {
    background-color:#CCC;
    cursor:pointer;
}

#canvasArea {
    position:absolute;
    left:160px;
    top:0;
    bottom:0;
    background:#060606;
    box-sizing:border-box;
}

#canvasArea > * {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#canvasArea > canvas {
    cursor:default;
}

#over {
    background-color:rgba(0,0,0,0.7);
    z-index:3;
    text-align:center;
    display:none;
}

.picker {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    background-color:white;
    padding:32px 24px;
    display:none;
}

.picker * {
    font-size:24px;
}

#canvas {
    z-index:2;
    background-color:transparent;
    position:absolute;
    left:0px;
}

#drawcanvas {
    z-index:1;
    background-color:white;
    background-size:100% 100%;
    position:absolute;
    left:0px;
}

#sidebar {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:160px;
    background-color:#444444;
    text-align:center;
    box-sizing:border-box;
    border-right:1px dotted #DDDDDD;
}

.sidebtn {
    width:100%;
    color:white;
    padding:12px 0px;
    display:block;
    font-size:18px;
    background-color:#222222;
    border-bottom:1px solid #666666;
    cursor:pointer;
}

.tool {
    margin:0;
    box-sizing:border-box;
    border:0px;
    float:left;
    width:50%;
    background-color:#CCCCCC;
}

.tool[toggled=true] {
    background-color:#EEEEEE;
    color:#222222;
    font-weight:bold;
}

.sidebtn:hover {
    background:#333333;
}

.toggled:hover {
    background:#FFFFFF;
}



.tool:hover {
    background-color:#EAEAEA;
}

.sideheader {
    color:white;
    background:#111111;
    font-weight:bold;
    width:100%;
    display:inline-block;
}

.sidebtn-bottom {
    position:absolute;
    bottom:0;
    border-bottom:0;
    border-top:1px solid #aaaaaa;
}

.red {
    color:#FF3333;
    font-weight:bold;
    border-color:red;
}

#size, #color {
    width:100%;
    border:0;
    margin:0;
    padding:1px 0;
    padding-left:4px;
    font-size:24px;
    box-sizing:border-box;
}

#filepicker {
    display:none;
}

#users {
    position:absolute;
    bottom:50px;
    left:8px;
    color:#DDDDDD;
    font-style:italic;
    font-size:20px;
}

#users:after {
    content: " user(s) online";
}

#chat
{
    position:absolute;
    top:0;
    right:0;
    bottom:0px;
    border-right:1px solid #aaaaaa;
    box-sizing:border-box;
    z-index:5;
    background:#EEE;
    border-left:1px dotted #222222;
}

#chatMessage
{
    position:absolute;
    bottom:4px;
    left:4px;
    width:calc(100% - 68px);
    border:0;
    border-bottom:1px solid #aaaaaa;
    background-color:transparent;
    padding:0px 8px;
    box-sizing:border-box;
    height:32px;
}

#sendMessage
{
    position:absolute;
    bottom:4px;
    right:4px;
    background-color:transparent;
    padding:0px 8px;
    box-sizing:border-box;
    height:32px;
    border:0;
    border-radius:4px;
}

#chatMessageContainer
{
    padding:0px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:40px;
    overflow-x:auto;
    overflow-y:auto;
    background:#CCCCCC;
}

#sendMessage:hover, #chatMessage:hover, #chatMessage:focus, #server:hover, #server:focus
{
    border-color:#3333FF;
    color:#3333FF;
    z-index:1;
}

#sendMessage:hover {
    background:#DDD;
}

#sendMessage:active
{
    background:#eeeeee;
    border-color:#1111FF;
    color:#1111FF;
}

#chatMessageContainer > .chatItem
{
    word-wrap:break-word;
    padding:4px;

    -webkit-user-select: auto; /* Chrome/Safari */        
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: auto;
    user-select: auto;
}

.chatItem
{
    background:#EEEEFF;
    color:#111111;
}

.timestamp {
    color:#666;
    font-family:Courier New;
}

.chatItem:last-child
{
    padding-bottom:8px;
}
